<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/css/sb-admin-2.min.css" rel="stylesheet">
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">netsumap <br> <sup>🔥 🗺️</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dash') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Infrastruce Management
            </div>

            <!-- Nav Item - Pages Collapse Menu -->

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('uptime') }}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Service(s) Uptime</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('net_map') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Network Discovery</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('net_perf') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Network Performance</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('assets') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Asset(s) List</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Probe(s) Management
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('probe_mgr') }}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>View All</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Network Metadata Analysis
            </div>

            <!-- Nav Item - Tables -->

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('inference') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>PCAP Analysis</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('net_scan') }}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Visualizations</span></a>
            </li>

            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% block content %} {% endblock %}
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap core JavaScript-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/js/sb-admin-2.min.js"></script>


    <!-- Page level plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        $(function() {
          $('#pybutton').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
              
            });
            return false;
          });
        });

        $(function() {
          $('#pyinput').on('click', function(e) {
            e.preventDefault();
            const userInput = $('#user_input').val();  // Get the value from the input field

            $.getJSON('/background_input_test', { user_input: userInput },  // Send input as a parameter
                function(data) {
                    alert(data.result);  // Display the result from the server
                }
            );
            return false;
          });
        });

        $(function() {
          $('#probeinfo').on('click', function(e) {
            e.preventDefault();
            $.getJSON('/all_probes', function (data) {
            // Clear existing table rows
                const tableBody = $('#dataTable tbody');
                tableBody.empty();

                // Loop through the keys and nested objects in the JSON response
                Object.keys(data).forEach(key => {
                    const probe = data[key];
                    const row = `
                        <tr>
                            <td>${probe.id}</td>
                            <td>${probe.hst_nm}</td>
                            <td>${probe.ip}</td>
                            <td>${probe.ports}</td>
                            <td>${probe.ifaces}</td>
                            <td>
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Probe Actions</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="btn btn-primary dropdown-item" data-action="check_uptime">
                                                Connection Check
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" data-action="run_pcap">
                                                Capture Traffic
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" data-action="update_probe">
                                                Update Probe
                                            </button>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" data-action="custom_action">
                                                Custom Action
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>


                        </tr>
                    `;
                    tableBody.append(row);

                     // Add click event for table rows to mark selection
                    $('#dataTable tbody tr').on('click', function() {
                        $('#dataTable tbody tr').removeClass('selected').css('background-color', ''); // Remove existing selections and reset color
                        $(this).addClass('selected').css('background-color', 'lightcoral'); // Mark the clicked row as selected and change color to light red
                    });
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(`Failed to retrieve data: ${textStatus} - ${errorThrown}`);
            });

            return false;
          });
        });

        $('#dataTable').on('click', '.dropdown-item', function (e) {
            e.preventDefault();

            // Find the row containing the clicked button
            const selectedRow = $(this).closest('tr');

            if (selectedRow.length === 0) {
                alert('Please select a valid row before proceeding!');
                return false;
            }

            // Retrieve data values from the row
            const rowData = {
                id: selectedRow.find('td:nth-child(1)').text().trim(),       // First column (ID)
                hostname: selectedRow.find('td:nth-child(2)').text().trim(), // Second column (Hostname)
                ip: selectedRow.find('td:nth-child(3)').text().trim(),       // Third column (IP)
                ports: selectedRow.find('td:nth-child(4)').text().trim(),       // Fourth column (Ports)
                ifaces: selectedRow.find('td:nth-child(5)').text().trim()       // Fifth column (Interfaces)
            };

            // Display the retrieved row data
            alert(`Row Data:\nID: ${rowData.id}\nHostname: ${rowData.hostname}\nIP: ${rowData.ip}\nPorts: ${rowData.ports}\nInterfaces: ${rowData.ifaces}`);

            // Determine the action based on the button's data-action attribute
            const action = $(this).data('action');

            // Map actions to endpoints
            const endpoints = {
                check_uptime: '/check_uptime',
                run_pcap: '/run_pcap',
                update_probe: '/update_probe',
                custom_action: '/custom_action'
            };

            const endpoint = endpoints[action];
            if (!endpoint) {
                alert('Invalid action selected!');
                return;
            }

            // Sending selected row data to the server
            $.getJSON(endpoint, { id: rowData.id, ip: rowData.ip, hostname: rowData.hostname, ports: rowData.ports, ifaces: rowData.ifaces }, 
            function(response) {
                alert(`Server Response: ${response.message}`); // Display the result from the server
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(`Failed to send data: ${textStatus} - ${errorThrown}`);
            });

            
            // Sending selected row data to the server
            //$.getJSON('/check_uptime', { id: rowData.id, ip: rowData.ip, hostname: rowData.hostname, ports: rowData.ports }, 
            //function (response) {
            //    alert(`Server Response: ${response.message}`); // Display the result from the server
            //}).fail(function (jqXHR, textStatus, errorThrown) {
            //    alert(`Failed to send data: ${textStatus} - ${errorThrown}`);
            //});
        });

        $(document).ready(function () {
            // Handle button click event for file upload
            $('#uploadButton').on('click', function (e) {
                e.preventDefault();

                // Get the file input element and selected file
                const fileInput = $('#fileInput')[0];
                const file = fileInput.files[0];

                if (!file) {
                    alert('Please select a file before uploading!');
                    return false;
                }

                // Validate the file type (ensure it's a CSV)
                if (file.type !== 'text/csv') {
                    alert('Please upload a valid CSV file!');
                    return false;
                }

                // Prepare the FormData object
                const formData = new FormData();
                formData.append('file', file);

                // Send the file to the Quart endpoint
                $.ajax({
                    url: '/upload_csv', // Quart endpoint URL
                    type: 'POST',
                    data: formData,
                    processData: false, // Prevent jQuery from processing the data
                    contentType: false, // Prevent jQuery from setting the Content-Type header
                    success: function (response) {
                        alert(`File uploaded successfully: ${response.message}`);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(`File upload failed: ${textStatus} - ${errorThrown}`);
                    }
                });

                return false;
            });
        });

        $(function() {
          $('#csv_load').on('click', function(e) {
            e.preventDefault();
            $.getJSON('/all_pcaps', function (data) {
            // Clear existing table rows
                const tableBody = $('#csvDataTable tbody');
                tableBody.empty();

                // Loop through the keys and nested objects in the JSON response
                Object.keys(data).forEach(key => {
                    const pcap = data[key];
                    const row = `
                        <tr>
                            <td>${pcap.file_name}</td>
                            <td>${pcap.file_path}</td>
                            <td>
                                <button class="btn btn-primary">
                                    Run Analysis
                                </button>
                            </td>
                        </tr>
                    `;
                    tableBody.append(row);

                    // Add click event for table rows to mark selection
                    $('#dataTable tbody tr').on('click', function () {
                    $('#dataTable tbody tr').removeClass('selected'); // Remove existing selections
                    $(this).addClass('selected'); // Mark the clicked row as selected
                    });
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(`Failed to retrieve data: ${textStatus} - ${errorThrown}`);
            });

            return false;
          });
        });

        $('#csvDataTable').on('click', 'button', function (e) {
            e.preventDefault();

            // Find the row containing the clicked button
            const selectedRow = $(this).closest('tr');

            if (selectedRow.length === 0) {
                alert('Please select a valid row before proceeding!');
                return false;
            }

            // Retrieve data values from the row
            const rowData = {
                f_name: selectedRow.find('td:nth-child(1)').text().trim(),       // First column
                f_path: selectedRow.find('td:nth-child(2)').text().trim(), // Second column 
                
            };

            // Display the retrieved row data
            alert(`Row Data:\nID: ${rowData.f_name}\nHostname: ${rowData.f_path}\n`);

            // Sending selected row data to the server
            $.getJSON('/csv_inference', rowData, function (response) {
                alert(`Server Response: ${response.data}`); // Display the result from the server
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(`Failed to send data: ${textStatus} - ${errorThrown}`);
            });
        });

    </script>

</body>

</html>