{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <title>{% block title %} netsumap Home {% endblock %}</title>
          <div class="jumbotron text-center">
            <h1>netsumap</h1> 
            <h2>
              Threat Management & Network Automation
            </h2>
          </div>

          <!-- Container (About Section) -->
          <div id="about" class="container-fluid">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h2>What is this?</h2>
                <br>
                <p>
                  Quart app using a neural network (NN) trained to classify network traffic metadata as benign, outlier or malicious. Packet data is ingested via pcap files converted to CSV, JSON and live capture from specified interface (*currently in development). Prediction results are used to automate security breach responses within REST API enabled network infrastructure commonly utilized by SMBs. 

                  Training was conducted using traffic captured using <span><a href="https://github.com/cisco/mercury">Cisco Mercury</a></span>from two sources:
                  - Honey pot hosted & managed by Baugh Consulting & Lab L.L.C.
                  - Simulated production corporate network with commonly utilized services & servers, and an "attacker" host targeting the resources with various attacks internally & externally.
                  <span><a href="https://huggingface.co/bclai">Access model on Hugging Face 🤗</a></span>
                </p>
              </div>
            </div>
          </div>

          <!-- Container (Services Section) -->
          <div id="services" class="container-fluid text-center">
            <h2>Automation for any network</h2>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <h4>Current Integrations</h4>
                <ul class="list-group">
                  <li class="list-group-item">Ubiquiti UniFi Network</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h4>Upcoming Integrations 👀</h4>
                <ul class="list-group">
                  <li class="list-group-item">
                    Live packet capture analysis
                  </li>
                  <li class="list-group-item">
                    Cisco Meraki
                  </li>
                  <li class="list-group-item">
                    Sonicwall
                  </li>
                  <li class="list-group-item">
                    HPE Aruba
                  </li>
                  <li class="list-group-item">
                    NETCONF/YANG configuration(s) generation based on pcap analysis results for wider integration with more complex systems.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

