# Caddyfile

netsumap.baughcl.com {
    
    handle /* {
		reverse_proxy quart_app:5000
	}

    handle /register* {
		reverse_proxy quart_app:5000
	}

    handle /json_inference* {
		reverse_proxy quart_app:5000
	}

	handle /netmetadata* {
		reverse_proxy quart_app:5000
	}

	handle /rmprobe* {
		reverse_proxy quart_app:5000
	}

}


