# Caddyfile
https://quart_app:5000 {
    reverse_proxy https://netsumap.baughcl.com {
	    header_up Host quart_app:5000
    }

    reverse_proxy https://netsumap.baughcl.com/register {
	    header_up Host quart_app:5000/register
    }
}

