{
	log {
		output file /var/log/caddy/caddy.log
		format json
	}
}

(logging) {
	log {
		output file /var/log/caddy/{args[0]}.access.log
		format json
	}
}

www.netifidash.io {

	handle_path /web_app {
		reverse_proxy http://app.netifidash.io:20000{
			header_up X_FORWARDED_URI "/web_app"

		}
	}
	
}