{% extends 'base.html' %}

{% block content %}

<p>{% block title %} NetiFiDash Demo 404 Error {% endblock %}</p>

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">

      <h1>500 ERROR</h1>
      <h2>Internal Server Error</h2>
      
      <a class="btn btn-primary" href="{{ url_for('index') }}">Back To NetiFiDash Home</a>

      <br>
      <br>

      <a class="btn btn-primary" href="{{ url_for('app_main') }}">Try NetiFiDash For Yourself</a>

      <br>
      <br>

      <a class="btn btn-primary" href="https://www.baughcl.com/">Learn About The Devs</a>
      

    </div>
    <div class="col-4"></div>

  </div>
</div>

{% endblock %}

